/* Font */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
/* General Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-dark-color);
}

:root {
  --primary-dark-color: #1f1f1f;
  --secondary-dark-color: #323230;
  --descriptionColor: #adadad;
  --primary-light-color: #f4f4f4;
  font-size: 62.5%;
  font-family: "Patrick Hand", cursive;
}

.landing {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--primary-light-color);
  font-size: 5rem;
  letter-spacing: 1rem;
  align-items: center;
  justify-content: center;
}
.landing img {
  max-width: 350px;
}

.landing h1 {
  position: relative;
}
.landing h1::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2rem;
  background-color: var(--primary-light-color);
  top: 50%;
  left: -45%;
  border-radius: 5rem;
}
.landing h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2rem;
  background-color: var(--primary-light-color);
  top: 50%;
  right: -45%;
  border-radius: 5rem;
}

main {
  column-width: 40rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-bottom: 2px solid var(--descriptionColor);
}
.category--title {
  background-image: url(./image/title--background.jpg);
  font-size: 5rem;
  text-align: center;
  background-size: cover;
  width: 30rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
}
.category--items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  color: var(--primary-light-color);
}
.category--item {
  padding-bottom: 1.5rem;
  width: 100%;
}
.item--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item--name {
}
.item--divider {
  flex-grow: 1;
  overflow: hidden;
  width: 20px;
  text-align: center;
  margin: 0 1rem 0.5rem;
}
.item--price {
}
.item--description {
  color: var(--descriptionColor);
}
